/* style.css */
.timer-container {
  text-align: center;
  margin-top: 50px;
}

input {
  width: 60px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
